<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product name</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }
        td, th {
          border: 2px solid #dddddd;
          text-align: left;
          padding: 3px;
        }
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
     <body>
         <form action="/product/name" method="POST">
             <label for="name">Name:</label>
             <input type="text" id="name" name="name">
             <button type="submit">Find</button>
         </form>
         <table th:if="${product}">
             <thead>
             <tr>
                 <td><b>Product id</b></td>
                 <td><b>Name</b></td>
                 <td><b>Price</b></td>
                 <td><b>Manufacture</b></td>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td  th:text="${product.id}" ></td>
                 <td  th:text="${product.name}" ></td>
                 <td  th:text="${product.price}" ></td>
                 <td  th:text="${product.manufacture.name}" ></td>
             </tr>
             </tbody>
         </table>
     </body>
</html>