<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product update</title>
</head>
     <body>
         <form action="/product/update" method="POST">
             <label for="id">Id:</label>
             <input type="text" id="id" name="id"><br>
             <label for="Name">Name:</label>
             <input type="text" id="Name" name="name"><br>
             <label for="price">Price:</label>
             <input type="number" id="price" name="price"><br>
             <label for = "manufactures">Select manufacture</label>
             <select id="manufactures" name="manufactureName">
                 <option th:each="manufacture : ${manufactures}" th:value="${manufacture.name}" th:text="${manufacture.name}"></option>
             </select>
             <button type="submit">Select</button>
         </form>
     </body>
</html>