<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manufactures</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 40%;
        }
        td, th {
          border: 2px solid #dddddd;
          text-align: left;
          padding: 3px;
        }
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
     <body>
            <table th:if="${manufactures}">
                <thead>
                    <tr>
                        <td><b>Manufacture id</b></td>
                        <td><b>Name</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="manufacture : ${manufactures}">
                        <td  th:text="${manufacture.id}" ></td>
                        <td  th:text="${manufacture.name}" ></td>
                    </tr>
                </tbody>
            </table>
    </body>
</html>