<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manufacture ID</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }
        td, th {
          border: 2px solid #dddddd;
          text-align: left;
          padding: 3px;
        }
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
     <body>
         <form action="/manufacture/id" method="POST">
             <label for="id">ID in UUID format</label>
             <input type="text" id="id" name="id">
             <button type="submit">Find</button>
         </form>
         <table th:if="${manufacture}">
             <thead>
             <tr>
                 <td><b>Manufacture id</b></td>
                 <td><b>Name</b></td>
                 <td><b>Products</b></td>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td  th:text="${manufacture.id}" ></td>
                 <td  th:text="${manufacture.name}" ></td>
                 <td>
                     <ul>
                         <li th:each="product : ${manufactureProducts}" th:text="${product.name}"></li>
                     </ul>
                 </td>
             </tr>
             </tbody>
         </table>
     </body>
</html>