<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h2>Welcome to our Products Management System!</h2>
    <h3>Here You can carry out operations stated below:</h3>
    <pre>
            To start new GUI - /home
        </pre>
        <pre>
            To see all products - /product/all
            To find product by its name - /product/name
            To find product by its id - /product/id

            To see all manufactures - /manufacture/all
            To find manufacture by its name - /manufacture/name
            To find manufacture by its id - /manufacture/id
        </pre>
    <h3>If You entered into our site as admin You can carry out such additional operations:</h3>
        <pre>
            To update products - /product/update
            To delete product by id - /product/delete

            To update manufactures - /manufacture/update
            To delete manufacture - /manufacture/delete

            To see all roles - /role/all
            To find role by its name - /role/name
            To find role by its id - /role/id
            To delete role by id - /role/delete

            To see all users - /user/all
            To find user by its name - /user/name
            To find user by its id - /user/id
            To update user - /user/update
            To delete user by id - /user/delete
        </pre>
    <h3>For logout</h3>
        <pre>
            To logout  - /logout
        </pre>

</body>
</html>