<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 30%;
        }
        td, th {
          border: 2px solid #dddddd;
          text-align: left;
          padding: 3px;
        }
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
     <body>
            <table th:if="${roles}">
                <thead>
                    <tr>
                        <td><b>Role id</b></td>
                        <td><b>Name</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="role : ${roles}">
                        <td  th:text="${role.id}" ></td>
                        <td  th:text="${role.name}" ></td>
                    </tr>
                </tbody>
            </table>
    </body>
</html>